*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400 !important;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
header{
    display: flex;
    padding: 10px 5px;
    font-family: 'Raleway', sans-serif; 
}
h2{
    font-family: 'Raleway', sans-serif; 
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 30px;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
}
nav ul li a:hover{
    border-bottom: 1px solid hsl(0, 0%, 100%)
}
ul li a{
    text-decoration: none;
}
.introduction{
    text-align: center;
    min-width: 300px;
    padding: 60px 50px;
    position: relative;
}
.introduction h2{
    font-size: 2em;
    margin-bottom: 20px;
}
.illustration{
    padding-bottom: 70px;
}
img{
    max-width: 100%;
}
header,.introduction{
    background-color:hsl(217, 28%, 15%) ;
}
button{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    background-color: hsl(198, 60%, 50%);
    color: #fff;
    margin-top: 40px;
}
button:hover{
    background-color:  hsl(176, 68%, 64%);
}
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 40px;
    padding-top: 40px;
    padding: 50px;
}
.features div p{
    line-height: 20px;
}
figcaption{
    font-weight: bold;
    font-size: 1.2em;
}
.benefit{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 10px 30px;
}
.arrow{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
}
.arrow:hover{
    border-bottom: 1px solid #fff;
    color: hsl(0, 0%, 100%);
}
.quote{
    position: relative;
    top: 15px;
}
.testimonial-container{
    border: 1px solid hsl(219, 30%, 18%); 
    background-color:  hsl(219, 30%, 18%);
    width: 30%;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 60px 40px;
}
.sub-testimonial{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.productive{
    line-height: 2.4em;
    padding: 20px;
}
.productive h2{
    font-size: 2em;
}
.testimonial{
    padding-bottom: 4px;
}
.profile img{
    border-radius: 50%;
    width: 70px;
}
.profile{
    display: grid;
    grid-template-columns: 50px 200px;
    padding-top: 30px;
    column-gap: 20px;
}
.about,.benefit,.testimonial,.cta{
    background-color: hsl(218, 28%, 13%);
}
.dive{
    height: 400px;
    width: 80%;
    margin: 0 auto;
    padding: 70px 30px;
    text-align: center;
    z-index: 5;
    border: 2px solid hsl(218, 28%, 13%);
    position: relative;
    bottom: -80px;
    top: 150px;
    background-color:hsl(218, 28%, 13%);
    box-shadow: 2px 3px 8px hsl(216, 53%, 9%);
}
.cta h2{
    font-size: 2em;
    margin-bottom: 10px;
}
.links{
    padding-top: 170px;
}
li{
    list-style: none;
}
input{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    background-color: hsl(198, 60%, 50%);
    color: #fff;
    margin-top: 10px;
    border: none;
    margin: 10px;
}
.input{
    display: flex;
}
.email{
    width: 500px;
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
    width: 70%;
    padding: 20px;
}
.button{
    width: 30%;
}
.flex-item{
    display: flex;
}
.flex-item p{
    margin-left: 15px;
}
.flex-item img{
    width: 30px;
    height: 30px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 30px 20px;
    margin-left: 40px;
}
.grid-container div{
    padding: 10px;
}
.item1{
    grid-column: 1/-1;
}
.item4 ul li,.item5 ul li{
    margin-bottom: 10px;
}
i{
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 10px;
}
.socials ul li {
    float: left;
    padding: 5px;
}
i:hover{
    color: hsl(176, 68%, 64%);
}
.links, footer{
    background-color: hsl(216, 53%, 9%);
}
@media(max-width:789px){
    nav ul li{
    display: inline-block;
    padding: 10px;
}
    nav ul{
    margin-left:  30px;
}
    .features{
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }
    .benefit{
        grid-template-columns: 1fr;
    }
    .testimonial-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .sub-testimonial{
        flex-direction: column;
    }
    .input{
        flex-direction: column;
    }
    .email,.button{
        width: 100%;
    }
    .grid-container{
        grid-template-columns: 1fr;
        margin-left: 20px;
    }
    .item1{
        margin-left: 30px;
    }
    .socials{
        grid-column: 1/-1;
        text-align: center;
    }
    .socials ul li{
        margin: 0 auto;
    }
    .bg-image{
        background-image: url("images/bg-curvy-mobile.svg");
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content{
        position: relative;
        bottom: 50px;
    }
}
    @media only screen and (min-width:790px) {
        .bg-image{
            background-image: url("images/bg-curvy-desktop.svg");
            height: 400px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .content{
            position: relative;
            bottom: 400px;
        }
        header{
            justify-content: space-between;
        }
    }
@media only screen and (min-width:900px){
    .benefit{
        min-width: 900px;
    }
    .productive{
        line-height: 3em;
        margin-top: 40px;
    }
}
