*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
nav ul{
    list-style: none;
    float: right;
    
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
}
header,.introduction{
    background-color:hsl(217, 28%, 15%) ;
}
@media only screen and(max-width:1440px){
    section{
        background: url(images/bg-curvy-desktop.svg);
    }
}